@page
@model LapModel
@{
}

<div class="container lap">
    <div class="row">
        <form method="post">
            <div class="col-md-12 lap-right">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="lap-heading">Lap Information</h3>
                        <input type="hidden" asp-for="LapData.Id" />
                        <div class="lap-form form-horizontal">
                            <div class="control-label text-danger">@Model.Errors</div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Race:</label>
                                    <div class="col-sm-12">
                                        <select asp-for="LapData.RaceId" class="form-control"
                                                asp-items="@Model.Races">
                                            <option value="-1">-- Select Race --</option>
                                        </select>
                                        <span asp-validation-for="LapData.RaceId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Driver:</label>
                                    <div class="col-sm-12">
                                        <select asp-for="LapData.DriverId" class="form-control"
                                                asp-items="@Model.Drivers">
                                            <option value="-1">-- Select Driver --</option>
                                        </select>
                                        <span asp-validation-for="LapData.DriverId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Car:</label>
                                    <div class="col-sm-12">
                                        <select asp-for="LapData.CarId" class="form-control"
                                                asp-items="@Model.Cars">
                                            <option value="-1">-- Select Car --</option>
                                        </select>
                                        <span asp-validation-for="LapData.CarId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Lap #:</label>
                                    <div class="col-sm-12">
                                        <input asp-for="LapData.LapNumber" type="text" class="form-control" placeholder="Lap# *" />
                                        <span asp-validation-for="LapData.LapNumber" class="text-danger"></span>
                                    </div>
                                </div><div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Lap Time:</label>
                                    <div class="col-sm-12" style="position: relative">
                                        <input asp-for="LapData.DatePickerTime" type="text" class="form-control datetimepicker" placeholder="Lap Time *" />
                                        <span asp-validation-for="LapData.DatePickerTime" class="text-danger"></span>
                                    </div>
                                </div>
                                
                                <div class="col-sm-12">
                                    <input type="submit" class="btnlap" value="Save" />
                                    <a href="/Index"><input type="button" class="btnback" value="Back" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
